backup
config/nvim/plugged
config/nvim/.netrwhist
config/nvim/.VimballRecord
config/Slack
config/chromium
config/google-chrome
.DS_Store
bin/random
config/cef_user_data
config/Messenger
config/spotify
config/transmission
config/GitKraken
config/autostart
config/vlc
config/menus
config/mimeapps.list
config/htop
config/gconf
config/calibre
config/libreoffice
config/xfce4/helpers.rc
config/Pinta
config/VirtualBox
config/icedtea-web
config/mono.addins
config/gtk-3.0/bookmarks
config/GIMP
config/nvim/undo-dir
config/gedit
config/enchant
config/configstore
config/transmission-daemon
config/eog
config/google-chrome-beta
config/xarchiver
config/yarn
env
../config/okularrc
../config/artha.conf
../config/artha.log
../config/sqlitebrowser
config/sqlitebrowser
config/okularrc
config/artha.conf
config/artha.log
config/habitica
inkscape
bin/prime
config/Code
bin/ldap-pass
config/heroku
bin/graphiql
config/GraphiQL
config/Mutate
config/Neon
config/Unknown Organization
config/okularpartrc
config/pulse
config/pavucontrol.ini
config/rtv
config/zoomus.conf
config/pgadmin
config/xfce4
node_modules
bin/.yarn_cache
config/Ledger Wallet Ripple
config/Delta
config/Postman
config/aldo-vpn.log
config/evince
config/kst
bin/wod
bin/start-aldo
bin/start-aldo-iso
bin/start-all
config/nvim/autoload/gocomplete.vim
config/nvim/ftplugin/go
config/nvim/swap
config/wod
config/Franz
config/vocal
config/aurman
config/hub
bin/aldo-map
bin/calories
bin/jira-sprint
bin/jira-task
config/googlecl
config/monitors.xml
config/nvim/black
bin/monero
bin/monero-gui
config/Ledger Live
config/monero-project
bin/ledger-live
bin/payment-id
config/direnv
config/FreeCAD
config/balena-etcher-electron
config/jira/contacts.txt
config/emojis-lru
bin/add-poeditor-user
bin/github-issue
__pycache__
config/nemo
