backup
config/nvim/plugged
config/nvim/.netrwhist
config/nvim/.VimballRecord
config/Slack
config/chromium
config/google-chrome
.DS_Store
bin/random
config/cef_user_data
config/Messenger
config/spotify
config/transmission
config/GitKraken
config/autostart
config/vlc
config/menus
config/mimeapps.list
config/htop
config/gconf
config/calibre
config/libreoffice
config/xfce4/helpers.rc
config/Pinta
config/VirtualBox
config/icedtea-web
config/mono.addins
config/gtk-3.0/bookmarks
config/GIMP
config/nvim/undo-dir
config/gedit
config/enchant
config/configstore
config/transmission-daemon
config/eog
config/google-chrome-beta
config/xarchiver
config/yarn
env
../config/okularrc
../config/artha.conf
../config/artha.log
../config/sqlitebrowser
config/sqlitebrowser
config/okularrc
config/artha.conf
config/artha.log
config/habitica
inkscape
bin/prime
config/Code
