backup
.config/nvim/plugged
.config/nvim/.netrwhist
.config/nvim/.VimballRecord
.config/Slack
.config/chromium
.config/google-chrome
.DS_Store
.scripts/random
.config/cef_user_data
.config/Messenger
.config/spotify
.config/transmission
.config/GitKraken
.config/autostart
.config/vlc
.config/menus
.config/mimeapps.list
.config/htop
.config/gconf
