snippet github_workflow "GitHub workflow"
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: ${1:Workflow Name}

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo Hello from Octo Organization
endsnippet
