snippet tit
\textit{${1}}${2}
endsnippet

snippet tbf
\textbf{${1}}${2}
endsnippet

snippet it
	\item ${1}
endsnippet

snippet ->
$\rightarrow$ ${1}
endsnippet

snippet =>
$\Rightarrow$ ${1}
endsnippet

snippet <=>
$\Leftrightarrow$ ${1}
endsnippet

snippet |^
$\uparrow$ ${1}
endsnippet

snippet |v
$\downarrow$ ${1}
endsnippet
