snippet facture
to: Facturation TSC <facturation.tsc@r3d.com>
Facture - $1 2017

Bonjour,

Voici ma facture pour le mois de ${1:MOIS} 2017 chez Outbox.

Merci,

CP
endsnippet

snippet bilan
to: Lisette Lefrançois <llefrancois@turbidepaquette.qc.ca>
Bilan - $1 2017

Bonjour Lisette,

Voici mon bilan pour le mois de ${1:MOIS} 2017.

Merci,

CP
endsnippet
